<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenerateStudent</title>
</head>
<body>
    <table border="1">
        <td> <a href="/generate-student/">Генерация студента</a> </td>
        <td> <a href="/generate-students/">Генерация студентов</a> </td>
        <td> <a href="/AllData/">Вывод данных</a> </td>
        <td> <a href="/create-student/">Создание студента</a> </td>
        <td> <a href="/create-teacher/">Создание учителя</a> </td>
    </table>

    <p>

    <form method="post" action="."> {% csrf_token %}
        <table border="2">
        <tr><td>Генерация студентов</td></tr>
        <tr><td>
            <input type="number" name="count" max="100" min="1" step="1" required="1">
            <button type="submit"> Генерировать </button>
        </td></tr>
        </table>

        <table border="3">
            <tr><th>Имя студента</th><th>Email</th></tr>
            {% for element in student %}
            <tr><td>{{ element.name }}</td> <td>{{ element.email }}</td></tr>
            {% endfor %}
        </table>

    </form>

</body>
</html>
