<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenerateStudent</title>
</head>
<body>
    <table border="1">
        <td> <a href="/generate-student/">Генерация студента</a> </td>
        <td> <a href="/generate-students/">Генерация студентов</a> </td>
        <td> <a href="/AllData/">Вывод данных</a> </td>
        <td> <a href="/create-student/">Создание студента</a> </td>
        <td> <a href="/create-teacher/">Создание учителя</a> </td>
    </table>

    <p>

    <table border="2" >
        <tr><td>
            Генерация студента
        </td></tr>
        <tr><td>
        <form method="POST" action="." > {% csrf_token %}
            <button type="submit" value="generate"> Генерировать </button>
        </td></tr>
    </table>
    <table border="3">
        <td>Name</td><td>email</td><tr></tr>
        <td>{{student.name}}</td><td>{{student.email}}</td></tr>

    </table>
        </form>

</body>
</html>