<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateStudent</title>
</head>
<body>
    <table border="1">
        <td> <a href="/generate-student/">Генерация студента</a> </td>
        <td> <a href="/generate-students/">Генерация студентов</a> </td>
        <td> <a href="/AllData/">Вывод данных</a> </td>
        <td> <a href="/create-student/">Создание студента</a> </td>
        <td> <a href="/create-teacher/">Создание учителя</a> </td>
    </table>

    <p>

    <form method="post">{% csrf_token %}
        {{ form }}
        <button type="submit"> Добавить учителя </button>

        <p>

        <table border="2">
            <td>Последний созданный учитель: </td><tr></tr>
        <td>Name</td><td>email</td><tr></tr>
        <td>{{teacher.name}}</td><td>{{teacher.email}}</td>

        </table>

    </form>

</body>
</html>